@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barrio, cursive;
}

header {
  background-color: white;
  padding: 20px;
}

body {
  background-color: grey;
  color: white;
}

header > h1 {
  color: grey;
  text-align: center;
  font-size: 50px;
}

.scoreboard {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  width: 200px;
  padding: 15px 0px;
  text-align: center;
  font-size: 50px;
  position: relative;
}

.badge {
  background-color: lightblue;
  font-size: 15px;
  padding: 2px 5px;
  border-radius: 4px;
}

#user-label {
  position: absolute;
  top: 29px;
  left: -25px;
}

#comp-label {
  position: absolute;
  top: 29px;
  right: -25px;
}

.result > p {
  font-size: 40px;
  text-align: center;
}

.choices {
  text-align: center;
}

.choice {
  display: inline-block;
  margin: 50px 35px 25px;
  border: 4px solid white;
  border-radius: 50%;
  padding: 15px;
  transition: all 0.3s ease;
}

.choice > img {
  width: 100px;
}

.choice:hover {
  cursor: pointer;
  background-color: darkgray;
}

#action-msg {
  text-align: center;
  font-size: 23px;
}

.page2 {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease 0.5s;
}

.page1 {
 opacity: 1;
 pointer-events: all;
 transition: opacity 0.5s ease;
}

#start {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  font-size: 90px;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: grey;
  border: 1px solid grey;
  border-radius: 15px;
}

#start:hover {
  cursor: pointer;
  background-color: darkgray;
}

#smiley {
  width: 70px;
  margin-left: 20px;
}


.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.grey-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}


.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}